<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Trang quản lý khách hàng</h3>

            <div id="export-tools" class="card-tools"></div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div
              class="row p-2 m-1"
              style="background: rgba(255,255,255,0.8); border-radius: 2rem;"
            >
              <div class="col-md-4 mb-3">
                <label for="start-date">Bắt đầu</label>
                <input
                  v-model="start_date"
                  type="date"
                  class="form-control"
                  id="start-date"
                  placeholder
                  required
                >
              </div>
              <div class="col-md-4 mb-3">
                <label for="end-date">Kết thúc:</label>
                <input
                  v-model="end_date"
                  type="date"
                  class="form-control"
                  id="end-date"
                  placeholder
                  required
                >
              </div>
              <div class="col-md-4 mb-3" style="padding-top: 1.8rem;">
                <label for="btn-this-month"></label>
                <button class="btn btn-warning" @click="setDatePickerThisMonth">Chọn tháng này</button>
                <button class="btn btn-success" @click="filterCustomer">Cập nhật</button>
              </div>
            </div>
            <customers-table :tableData="customers"></customers-table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
</template>

<script>
import CustomersTable from "./CustomersTable";
export default {
  components: {
    CustomersTable
  },
  data() {
    return {
      // Create a new form instance
      form: new Form({
        id: "",
        name: "",
        email: "",
        phone: "",
        product_url: "",
        other: ""
      }),
      customers: {},
      start_date: "",
      end_date: ""
    };
  },
  methods: {
    filterCustomer() {
      axios
        .get("api/customer?from=" + this.start_date + "&to=" + this.end_date)
        .then(({ data }) => {
          this.customers = data;
        });
    },
    // loadCustomers() {
    //     axios.get("api/customer").then(({ data }) => {
    //       this.customers = data;
    //     });
    // },
    setDatePickerThisMonth() {
      // Get this month
      let today = new Date();
      let startMonth = new Date(today.getFullYear(), today.getMonth(), 1);
      let endMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0);

      this.start_date = this.getDateFormated(startMonth);
      this.end_date = this.getDateFormated(endMonth);
    },
    getDateFormated(input) {
      let date = new Date(input);
      let day = ("0" + date.getDate()).slice(-2);
      let month = ("0" + (date.getMonth() + 1)).slice(-2);
      return date.getFullYear() + "-" + month + "-" + day;
    },
    setDatePicker30() {
      // Get this month
      let today = new Date();
      let _30DayAgos = new Date().setDate(today.getDate() - 30);
      this.start_date = this.getDateFormated(_30DayAgos);
      this.end_date = this.getDateFormated(today);
    }
  },
  created() {
    this.setDatePicker30();
    this.filterCustomer();
    Fire.$on("AfterDeleteCustomer", () => {
      this.filterCustomer();
    });
  }
};
</script>
