<template>
  <table id="table-id" class="table table-striped table-bordered"></table>
</template>

<script>
export default {
  props: ["tableData"],
  data() {
    return {
      headers: [
        { title: "ID" },
        { title: "Tên", class: "" },
        { title: "Email" },
        { title: "Điện thoại" },
        { title: "Link sản phẩm" },
        { title: "Trạng thái" },
        { title: "Tạo lúc" },
        { title: "Thao tác" }
      ],
      rows: [],
      dtHandle: null
    };
  },
  watch: {
    tableData(val, oldVal) {
      var self = this;
      this.rows = [];


      val.forEach(function(item) {
      
        let row = [];

        row.push(item.id);
        row.push(item.name);
        row.push(item.email);
        row.push(item.phone);
        row.push(item.product_url);
        row.push(self.getStatusString(item.status));
        row.push(moment(item.created_at).format('DD/MM/YYYY'));
        row.push(item.other);

        self.rows.push(row);
      });

      // Here's the magic to keeping the DataTable in sync.
      // It must be cleared, new rows added, then redrawn!
      this.dtHandle.clear();
      this.dtHandle.rows.add(this.rows);
      this.dtHandle.draw();
    }
  },
  mounted() {
    // Instantiate the datatable and store the reference to the instance in our dtHandle element.
    this.dtHandle = $(this.$el).DataTable({
      order: [[0, "desc"]],
      // Specify whatever options you want, at a minimum these:
      columns: this.headers,
      data: this.rows,
      responsive: true,
      searching: false,
      //   paging: false,
      fixedHeader: true,
      fixedColumns: true,
      columnDefs: [
        {
          targets: -1,
          data: null,
          defaultContent: `
            <button name="delete"
              class="delete-customer btn btn-danger btn-sm"
              role="button"
            > <i class="fas fa-trash white"></i>
            </button>
          `
        },
        {
          className: "dt-center",
          targets: "_all"
        }
      ],
      dom: 'Bfrtip',
      buttons: [
        {
          extend: "colvis",
          collectionLayout: "fixed two-column",
          text: "Hiện / Ẩn các cột"
        },
        {
          extend: "pdf",
          className: "btn-info",
          text: 'Xuất file pdf <i class="fas fa-file-pdf white"></i>',
          exportOptions: {
            modifier: {
              page: "current"
            }
          }
        },
        {
          extend: "excelHtml5",
          className: "btn-success",
          text: 'Xuất file Excel <i class="fas fa-file-excel white"></i>',
          exportOptions: {
            modifier: {
              page: "current"
            }
          }
        }
      ]
    });
    // Prepend the buttons to the wrapper so they appear above the table:
    this.dtHandle
      .buttons()
      .container()
      .prependTo("#export-tools");

    // Delete
    let self = this;
    $(this.$el)
      .find("tbody")
      .on("click", "button.delete-customer", function() {
        let data = self.dtHandle.row($(this).parents("tr")).data();
        self.deleteCustomer(data[0]);
      });

    $(this.$el)
      .find("tbody")
      .on("click", "button.updateStatus", function() {
        let data = self.dtHandle.row($(this).parents("tr")).data();
        self.updateCustomer(data[0]);
      });
  },
  methods: {
    getStatusString(status) {
      switch (status) {
        case "new":
          return `<button name="update"
                    class="updateStatus btn btn-success btn-sm"
                    role="button"
                  > Khách hàng Mới
                  </button>`;
        case "taking":
          return `<button name="update"
                    class="updateStatus btn btn-warning btn-sm"
                    role="button"
                  > Đang chăm sóc
                  </button>`;
        case "done":
          return `<button name="update"
                    class="updateStatus btn btn-secondary btn-sm"
                    role="button"
                  > Đã xong
                  </button>`;
      }
    },
    deleteCustomer(id) {
      Swal({
        title: "Bạn chắc chắn muốn thực hiện thao tác này?",
        text: "Sẽ không thể khôi phục lại!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ok. Xóa nó!"
      }).then(result => {
        if (result.value) {
          // Send request to server
          axios
            .delete("api/customer/" + id)
            .then(result => {
              Swal("Đã xóa!", "Đã xóa 1 khách hàng.", "success");
              Fire.$emit("AfterDeleteCustomer");
            })
            .catch(err => {
              Swal({
                type: "error",
                title: "Fail",
                text: "This action is unauthorized."
              });
            });
        }
      });
    },
    updateCustomer(id) {
      this.$Progress.start();
      axios
        .put("api/customer/" + id)
        .then(({ data }) => {
          Fire.$emit("AfterDeleteCustomer");
          this.$Progress.finish();
        })
        .catch(err => {
          this.$Progress.fail();
        });
    }
  }
};
</script>
<style>
.dt-buttons btn-group {
  margin: 0px auto 20px;
}

th.dt-center, td.dt-center { text-align: center; }

</style>
