<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 pt-3">
                <h1>TruFace Customers</h1>
                <h5 class="mb-5">Hệ thống quản lý khách hàng cho Landing page</h5>

                <h6>Vui lòng chọn các chức năng ở menu bên trái.</h6>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
