<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Products Table</h3>

            <div class="card-tools" v-if="$gate.isAdmin()">
              <button type="button" class="btn btn-success" @click="newModal">
                Tạo mới
                <i class="fas fa-user-plus fa-fw"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Tên sản phẩm</th>
                  <th>Link sản phẩm</th>
                  <th>Ngày tạo</th>
                  <th v-if="$gate.isAdmin()">Chỉnh sửa</th>
                </tr>
                <tr v-for="(product, index) in products.data" :key="index">
                  <td>{{ product.id }}</td>
                  <td>{{ product.title }}</td>
                  <td>{{ product.url + '?ref=' + userId}}</td>
                  <td>{{ product.created_at | myDate }}</td>
                  <td>
                    <a v-if="$gate.isAdmin()"
                      name="edit"
                      id="edit"
                      class="btn btn-info btn-sm"
                      @click="editModal(product)"
                      role="button"
                    >
                      <i class="fas fa-edit white"></i>
                    </a>
                    <a
                      name="watch"
                      id="watch"
                      class="btn btn-info btn-sm"
                      @click="watchProduct(product)"
                      role="button"
                    >
                      <i class="fas fa-eye white"></i>
                    </a>
                    <a v-if="$gate.isAdmin()"
                      name="delete"
                      id="delete"
                      @click="deleteProduct(product.id)"
                      class="btn btn-danger btn-sm"
                      role="button"
                    >
                      <i v-if="$gate.isAdmin()" class="fas fa-trash white"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="col-md-12">
            <pagination class="float-right" :data="products" @pagination-change-page="loadProducts"></pagination>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-12" v-if="!$gate.isAdmin()">
      <not-found> </not-found>
    </div>-->
    <!-- Modal -->
    <div
      class="modal fade"
      id="addNew"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="addNewLabel"
            >{{ editmode ? 'Cập nhật sản phẩm' : 'Thêm sản phẩm'}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              @submit.prevent="editmode ? updateProduct(): createProduct()"
              @keydown="form.onKeydown($event)"
            >
              <div class="form-group">
                <input
                  required
                  v-model="form.title"
                  type="text"
                  name="title"
                  class="form-control"
                  placeholder="Title"
                  :class="{ 'is-invalid': form.errors.has('title') }"
                >
                <has-error :form="form" field="title"></has-error>
              </div>
              <div class="form-group">
                <input
                  required
                  v-model="form.url"
                  type="text"
                  name="url"
                  class="form-control"
                  placeholder="URL"
                  :class="{ 'is-invalid': form.errors.has('url') }"
                >
                <has-error :form="form" field="url"></has-error>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button
                  :disabled="form.busy"
                  v-show="editmode"
                  type="submit"
                  class="btn btn-success"
                >Cập nhật</button>
                <button
                  :disabled="form.busy"
                  v-show="!editmode"
                  type="submit"
                  class="btn btn-primary"
                >Tạo mới</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // Create a new form instance
      form: new Form({
        id: "",
        title: "",
        url: ""
      }),
      products: {},
      userId: window.user.id,
      editmode: true
    };
  },
  methods: {
    watchProduct(product) {
      window.open(product.url + '?ref=' + this.userId, '_blank');
    },
    newModal() {
      this.editmode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },
    editModal(product) {
      this.editmode = true;
      this.form.fill(product);
      $("#addNew").modal("show");
    },
    loadProducts(page = 1) {
      axios
        .get("api/product?page=" + page)
        .then(({data}) => {
          // console.log(data);
          this.products = data;
        })
    },
    createProduct() {
      this.$Progress.start();
      this.form
        .post("api/product")
        .then(({ data }) => {
          Fire.$emit("AfterChanged");

          $("#addNew").modal("hide");

          toast({
            type: "success",
            title: "Đã tạo một sản phẩm mới."
          });
          this.$Progress.finish();
        })
        .catch(err => {
          this.$Progress.fail();
        });
    },
    deleteProduct(id) {
      Swal({
        title: "Bạn có chắc chắn muốn xóa sản phẩm không? ",
        text: "Thao tác này không thể được phục hồi.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "OK, Xóa!"
      }).then(result => {
        if (result.value) {
          // Send request to server
          this.form
            .delete("api/product/" + id)
            .then(result => {
              Swal("Đã xóa!", "Đã xóa sản phẩm.", "success");
              Fire.$emit("AfterChanged");
            })
            .catch(err => {
              Swal({
                type: "error",
                title: "Thất bại",
                text: "Bạn không có quyền thực hiện thao tác này."
              });
            });
        }
      });
    },
    updateProduct() {
      this.$Progress.start();
      this.form
        .put("api/product/" + this.form.id)
        .then(({ data }) => {
          Fire.$emit("AfterChanged");

          $("#addNew").modal("hide");

          Swal("Đã cập nhật!", "Đã lưu các chỉnh sửa.", "success");
          this.$Progress.finish();
        })
        .catch(err => {
          this.$Progress.fail();
        });
    }
  },
  created() {
    this.loadProducts();
    Fire.$on("AfterChanged", () => {
      this.loadProducts();
    });
  }
};
</script>
