<style>
.widget-user-header {
  background-position: center center;
  background-size: cover;
}
</style>

<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 mt-3">
        <div class="card card-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div
            class="widget-user-header text-white"
            style="background: url('./img/user_img.png') center center;"
          >
            <h3 class="widget-user-username">{{ this.form.name }}</h3>
            <h5 class="widget-user-desc">{{ this.form.email }}</h5>
          </div>
          <!-- <div class="widget-user-image">
            <img class="img-circle" :src="getProfilePhoto()" alt="User Avatar">
          </div>-->
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">{{ this.form.products }}</h5>
                  <span class="description-text">Sản phẩm</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">{{ this.form.customers }}</h5>
                  <span class="description-text">Khách Hàng</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <!-- <li class="nav-item">
                <a class="nav-link" href="#activity" data-toggle="tab">Activity</a>
              </li>-->
              <li class="nav-item">
                <a class="nav-link active show" href="#settings" data-toggle="tab">Thiết lập</a>
              </li>
            </ul>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" id="activity"></div>

              <div class="tab-pane active show" id="settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Tên</label>

                    <div class="col-sm-10">
                      <input
                        v-model="form.name"
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="Name"
                        :class="{ 'is-invalid': form.errors.has('name') }"
                      >
                      <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input
                        v-model="form.email"
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Email"
                        :class="{ 'is-invalid': form.errors.has('email') }"
                      >
                      <has-error :form="form" field="email"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label
                      for="password"
                      class="col-sm-8 control-label"
                    >{{ "Password (leave empty if not chasing)" }}</label>
                    <div class="col-sm-10">
                      <input
                        v-model="form.password"
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                        :class="{ 'is-invalid': form.errors.has('password') }"
                      >
                      <has-error :form="form" field="password"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <label
                      for="password_confirmation"
                      class="col-sm-8 control-label"
                    >{{ "Confirm Password" }}</label>
                    <div class="col-sm-10">
                      <input
                        v-model="form.password_confirmation"
                        type="password"
                        class="form-control"
                        name="password_confirmation"
                        placeholder="Confirm Password"
                        :class="{ 'is-invalid': form.errors.has('password-confirm') }"
                      >
                      <has-error :form="form" field="password-confirm"></has-error>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button
                        @click.prevent="updateInfo"
                        type="submit"
                        class="btn btn-success"
                      >Update</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: new Form({
        id: "",
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        products: "",
        customers: ""
      })
    };
  },
  methods: {
    updateInfo() {
      this.$Progress.start();
      this.form
        .put("api/profile")
        .then(({ data }) => {
          Fire.$emit("AfterUpdatedProfile");
          Swal("Thành công!", "Đã cập nhật các thông tin", "success");
          this.$Progress.finish();
        })
        .catch(err => {
          this.$Progress.fail();
        });
    },
    loadProfile() {
      axios
        .get("api/profile")
        .then(({ data }) => {
          this.form.fill(data);
        })
        .catch(err => {});
    }
  },
  created() {
    this.loadProfile();
    Fire.$on("AfterUpdatedProfile", () => {
      this.loadProfile();
    });
  }
};
</script>
