<template>
  <div class="container">
    <div class="row mt-5" v-if="$gate.isAdmin()">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Quản lý người dùng</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-success" @click="newModal">
                Add New
                <i class="fas fa-user-plus fa-fw"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Email</th>
                  <th>Đăng ký ngày</th>
                  <th>Chỉnh sửa</th>
                </tr>
                <tr v-for="(user, index) in users.data" :key="index">
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.created_at | myDate }}</td>
                  <td>
                    <a
                      name="edit"
                      id="edit"
                      class="btn btn-info btn-sm"
                      @click="editModal(user)"
                      role="button"
                    >
                      <i class="fas fa-edit white"></i>
                    </a>
                    <a
                      name="delete"
                      id="delete"
                      @click="deleteUser(user.id)"
                      class="btn btn-danger btn-sm"
                      role="button"
                    >
                      <i class="fas fa-trash white"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="col-md-12">
            <pagination class="float-right" :data="users" @pagination-change-page="loadUsers"></pagination>
        </div>
      </div>
    </div>
    <div class="col-md-12" v-else>
      <not-found> </not-found>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="addNew"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewLabel">{{ editmode ? 'Chỉnh sửa người dùng' : 'Thêm người dùng'}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              @submit.prevent="editmode ? updateUser(): createUser()"
              @keydown="form.onKeydown($event)"
            >
              <div class="form-group">
                <input
                  required
                  v-model="form.name"
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Name"
                  :class="{ 'is-invalid': form.errors.has('name') }"
                >
                <has-error :form="form" field="name"></has-error>
              </div>

              <div class="form-group">
                <input
                  required
                  v-model="form.email"
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Email Address"
                  :class="{ 'is-invalid': form.errors.has('email') }"
                >
                <has-error :form="form" field="email"></has-error>
              </div>

              <div class="form-group">
                <input
                  v-model="form.password"
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                  :class="{ 'is-invalid': form.errors.has('password') }"
                >
                <has-error :form="form" field="password"></has-error>
              </div>

              <div class="form-group">
                <input
                  v-model="form.password_confirmation"
                  type="password"
                  class="form-control"
                  name="password_confirmation"
                  placeholder="Confirm Password"
                  :class="{ 'is-invalid': form.errors.has('password-confirm') }"
                >
                <has-error :form="form" field="password-confirm"></has-error>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button
                  :disabled="form.busy"
                  v-show="editmode"
                  type="submit"
                  class="btn btn-success"
                >Cập nhật</button>
                <button
                  :disabled="form.busy"
                  v-show="!editmode"
                  type="submit"
                  class="btn btn-primary"
                >Tạo</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // Create a new form instance
      form: new Form({
        id: "",
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        type: "",
        bio: "",
        photo: ""
      }),
      users: {},
      editmode: true
    };
  },
  methods: {
    newModal() {
      this.editmode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },
    editModal(user) {
      this.editmode = true;
      this.form.fill(user);
      $("#addNew").modal("show");
    },
    loadUsers(page = 1) {
      if (this.$gate.isAdmin()) {
        axios.get("api/user?page=" + page).then(({ data }) => {
          this.users = data;
        });
      }
    },
    createUser() {
      this.$Progress.start();
      this.form
        .post("api/user")
        .then(({ data }) => {
          Fire.$emit("AfterChanged");

          $("#addNew").modal("hide");

          toast({
            type: "success",
            title: "Đã tạo người dùng mới."
          });
          this.$Progress.finish();
        })
        .catch(err => {
          this.$Progress.fail();
        });
    },
    deleteUser(id) {
      Swal({
        title: "Bạn chắc muốn xóa người dùng này?",
        text: "Thao tác này không thể khôi phục lại",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ok. Xóa."
      }).then(result => {
        if (result.value) {
          // Send request to server
          this.form
            .delete("api/user/" + id)
            .then(result => {
              Swal("Deleted!", "Đã xóa người dùng", "success");
              Fire.$emit("AfterChanged");
            })
            .catch(err => {
              Swal({
                type: "error",
                title: "Fail",
                text: "Bạn không có quyền thực hiện thao tác này."
              });
            });
        }
      });
    },
    updateUser() {
      this.$Progress.start();
      this.form
        .put("api/user/" + this.form.id)
        .then(({ data }) => {
          Fire.$emit("AfterChanged");

          $("#addNew").modal("hide");

          Swal("Updated!", "Đã lưu các thay đổi.", "success");
          this.$Progress.finish();
        })
        .catch(err => {
          this.$Progress.fail();
        });
    }
  },
  created() {
    this.loadUsers();
    Fire.$on("AfterChanged", () => {
      this.loadUsers();
    });
  }
};
</script>
